@font-face {
  font-family: _EXPLORE_;
  src: url("../../resources/fonts/ArcticExplorer.ttf"); }

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #A27139;
  font-family: _EXPLORE_;
  font-size: 1.3rem; }

._card {
  border-radius: 0;
  background-color: #EF5350;
  box-shadow: 0 0 20px #F44336;
  transform: rotatez(-5deg);
  position: relative; }
  ._card::before {
    position: absolute;
    content: "";
    background-color: #FFF9C4;
    box-shadow: 0 0 20px #FFF59D;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    transform: rotateZ(10deg); }

#facebook {
  background-color: #3b5998;
  border: 0; }
  #facebook:hover {
    background-color: #263961; }

input[type='checkbox'], input[type='radio'] {
  width: 1.3rem;
  height: 1.3rem; }

hr {
  background-color: #000; }

.input-group-addon {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
