#header{
    height: 7.5vh;
}

#content{
    height: 85vh;
    background-color: #ddd;
}

#footer{
    width: 100%;
    height: 7.5vh;
    background-color: #E33222;
}

#timer{
    position: absolute;
    right: 0;
}

#lose{
    opacity: 0.6;
}